<%- include('./includes/head') %>


<body>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <%- include('./includes/navbar.ejs') %>

    <h1>Error !</h1>
    <h2>Something went wrong.. we are working on it..</h2>
    <p>we will rectify it soon..!</p>
</body>
</html>